* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* min-height: 100vh; */
    /* background: rgb(242, 242, 242); */
}

/* Loader */
#loader {
    display: none; /* Hide loader by default */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    z-index: 9999; /* Ensure it is on top of everything */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.hide-loader {
    display: none !important; /* Memastikan loader disembunyikan */
}

.card-border-radius {
    border-radius: 1rem;
    background: linear-gradient(130deg, #08786b 60%, #29a192 100%) !important;
}

.card-primary-border-radius {
    border-radius: 1rem;
    background: linear-gradient(130deg, #4e73df 60%, #abbef5 100%) !important;
}

.card-orange-border-radius {
    border-radius: 1rem;
    background: linear-gradient(130deg, #c35f1b 0%, #ffb300 100%) !important;
}

.navigation {
    position: fixed; /* Changed to fixed to keep it at the bottom */
    width: 100%;
    height: 60px;
    background: #08786b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    bottom: 0;
    padding-bottom: 20px;
    max-width: 900px;
    z-index: 999; /* Ensure it stays on top of other content */
    left: 50%; /* Centering the navigation */
    transform: translateX(-50%); /* Ensure the centering works on all screens */
}

.navigation ul {
    display: flex;
    justify-content: space-between; /* Space between the li elements */
    width: 250px; /* Adjust width based on the number of items */
    position: relative;
    margin-top: 15px;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: fixed;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 20px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #ffffff;
    transform: translateY(-40px) scale(0);
    transition: transform 0.5s ease;
    z-index: -1; /* Ensures the circle stays behind the content */
}

.navigation ul li.active a .circle {
    transform: translateY(-40px) scale(1);
}

.indicator {
    position: absolute;
    top: -30px; /* Adjust the indicator's vertical position */
    left: 0;
    width: 70px;
    height: 70px;
    background: #08786b;
    border: 6px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 0;
}

.indicator::before,
.indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
}

.indicator::before {
    left: -22px;
    border-top-right-radius: 20px;
}

.indicator::after {
    right: -22px;
    border-top-left-radius: 20px;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1.285));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2.57));
}

#wrapper-anggota {
    width: 100%;
    max-width: 900px;
}

.img-saldo {
    width: 100%;
    max-width: 50px;
}

.img-button {
    width: 70%;
    max-height: 40px;
}

.img-profile {
    max-width: 80px;
    width: 100%;
}

.img-profil {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.btn-home {
    width: 100%;
    height: 100%;
    max-height: 100px;
}

/* Add custom style to make the dataSimpanan scrollable */
.table-responsive {
    max-height: 70vh; /* Membatasi tinggi tabel */
    overflow-y: auto; /* Membolehkan scrolling vertikal */
    overflow-x: auto; /* Membolehkan scrolling horizontal jika diperlukan */
}

.scrollable-content {
    padding: 10px; /* Tambahkan padding untuk estetika */
}

.message-anggota {
    max-height: 120px;
}

/* Custom CSS for dynamic text size */
@media (max-width: 576px) {
    .menu-text {
        font-size: 12px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .menu-text {
        font-size: 14px;
    }
    .card {
        margin: 5px; /* Beri jarak di mobile */
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .menu-text {
        font-size: 16px;
    }
}

@media (min-width: 993px) {
    .menu-text {
        font-size: 18px;
    }
}
